<table class="table text-center">
    <thead class="sticky-top bg-white">
        <tr>
            <th *ngFor="let column of columns">{{column}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let department of departmentsData">
            <ng-container *ngFor="let key of keys">
                <td>{{department[key]}}</td>
            </ng-container>
            <td>
                <app-buttons-table-departments [department]="department"></app-buttons-table-departments>
            </td>
        </tr>
    </tbody>
</table>