<table class="table text-center">
    <thead class="sticky-top bg-white">
        <tr>
            <th *ngFor="let column of columns">{{column}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeesData">
            <ng-container *ngFor="let key of keys">
                <td *ngIf="key != 'rol';else rolContent">{{employee[key]}}</td>
                <ng-template #rolContent>
                    <td>{{employee._id == employee.bossId?"Lider":"Empleado"}}</td>
                </ng-template>
            </ng-container>
            <td>
                <app-buttons-table-employees [employee]="employee"></app-buttons-table-employees>
            </td>
        </tr>
    </tbody>
</table>