<div class="row">
    <div class="col-12 p-0">
        <nav class="navbar navbar-expand-sm bg-dark text-light">
            <div class="container-fluid">
                <button class="btn btn-sm btn-light d-sm-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <img src="../../../../assets/three-dots.svg" alt="navbar-toggle-icon">
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <p class="m-0 ps-2 fw-bold d-none d-sm-block">LEXGO</p>
                    <ul class="navbar-nav">
                        <li class="nav-item text-center">
                            <a [routerLink]="pathRoutes.EMPLOYEES" class="nav-link text-light">Empleados</a>
                        </li>
                        <li class="nav-item text-center">
                            <a [routerLink]="pathRoutes.DEPARTMENTS" class="nav-link text-light">Departamentos</a>
                        </li>
                        <li class="nav-item text-center">
                            <a [routerLink]="pathRoutes.ORGANIZATION_CHART" class="nav-link text-light">Organigrama</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>