<div class="row">
    <div class="col-12 p-0">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul>
                        <li><a [routerLink]="pathRoutes.EMPLOYEES">Empleados</a></li>
                        <li><a [routerLink]="pathRoutes.DEPARTMENTS">Departamentos</a></li>
                        <li><a [routerLink]="pathRoutes.ORGANIZATION_CHART">Organigrama</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>